/* AvailableMeals.module.css */

section {
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  background-color:antiquewhite;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

li span {
  font-weight: bold;
  color: #333;
}

/* Add additional styling based on your design preferences */
