.form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.form button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ccc;
  background-color: #4caf50;
  color: #fff;
  border-radius: 4px;
  margin-left: 1rem;
}

.form button:hover,
.form button:active {
  background-color: #45a049;
  border-color: #45a049;
}
